html, body {
    height: 100%;
    font-family: 'Oswald', sans-serif;
}

body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.geral {
    min-height: 84%;
    color: white;
}

.nasa {
    color: lightgray;
    font-size: 60px;
}


.titulo {
    font-size: 45px;

}

.caixa {
    border-radius: 25px;
    background: #343a40;
}

.menu a:hover {
    background-color: #4faddb;
    color: #000;
}

.arredondar {
    border-radius: 15px;
}

.destaque {
    background: #f50a31;
    color: #fff;
    border-radius: 15px;
    margin: 8px;
}

.loginInput {
    color: #fff;
    border-radius: 15px;
    margin: 8px;
}

.cardFormulario {
    background: rgba(0, 0, 0, 0.4);
    margin-bottom: 15%;
}
