html,body{height: 100%;}
body {
    background-color: lightgray;
    /* background: url(../img/background.jpg) no-repeat;
    background-position: top center;
    background-size: cover; */
}
.geral{
    min-height: 84%;
}
.nasa{
    color: lightgray;
    font-size: 60px;
}


.titulo {
    color: black;
    font-size: 2.5em;
}
.caixa {
    border-radius: 25px;
    background:#343a40;
}

.menu a:hover{
    background-color: #4faddb;
    color: #000;
}

.arredondar{
    border-radius: 15px;
}
.destaque{
    background: #f50a31;
    color: #fff;
    border-radius: 15px;
    margin: 8px;
}
.funcionaa{
    color: #fff;
    border-radius: 15px;
    margin: 8px;
}

/* @media  (max-width: 1200px) {
    body {
      background-color: red;
    }
  } */